#workskin .capitalize-first {
  text-transform: capitalize;
}

#workskin .option-they,
#workskin .option-she,
#workskin .option-he {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background: white;
  color: black;
  border: 1px solid black;
}

#workskin .option-they:focus,
#workskin .option-she:focus,
#workskin .option-he:focus,
#workskin div.options:has(.option-they:focus) .pronoun-option .option-they,
#workskin div.options:has(.option-she:focus) .pronoun-option .option-she,
#workskin div.options:has(.option-he:focus) .pronoun-option .option-he,
#workskin div.options:not(:has(a:focus)) .pronoun-option .option-they,
#workskin div.options .bits-option:not(:has(a:focus)) .option-undescribed {
  background: yellow;
}

#workskin .bits-option .option-she,
#workskin .bits-option .option-he {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
}

#workskin p:has(.option-she:focus) ~ p.bits-option .option-she,
#workskin p.bits-option:has(.option-she:focus) .option-she {
  width: auto;
  height: auto;
  opacity: 1;
  display: inline-block;
  position: relative;
}

#workskin p:has(.option-she:focus) ~ p.bits-option .option-they,
#workskin p:has(.option-she:focus) ~ p.bits-option .option-he,
#workskin p.bits-option:has(.option-she:focus) .option-they,
#workskin p.bits-option:has(.option-she:focus) .option-he {
  width: 0;
  height: 0;
  opacity: 0;
  display: inline-block;
  position: absolute;
}

#workskin p:has(.option-he:focus) ~ p.bits-option .option-he,
#workskin p.bits-option:has(.option-he:focus) .option-he {
  width: auto;
  height: auto;
  opacity: 1;
  display: inline-block;
  position: relative;
}

#workskin p:has(.option-he:focus) ~ p.bits-option .option-they,
#workskin p:has(.option-he:focus) ~ p.bits-option .option-she,
#workskin p.bits-option:has(.option-he:focus) .option-they,
#workskin p.bits-option:has(.option-he:focus) .option-she {
  width: 0;
  height: 0;
  opacity: 0;
  display: inline-block;
  position: absolute;
}

#workskin div:has(.option-they:focus) ~ p .option-they-target {
  display: inline;
}

#workskin div:has(.option-they:focus) ~ p .option-she-target,
#workskin div:has(.option-they:focus) ~ p .option-he-target {
  display: none !important;
}

#workskin div:has(.option-she:focus) ~ p .option-she-target {
  display: inline;
}

#workskin div:has(.option-she:focus) ~ p .option-they-target,
#workskin div:has(.option-she:focus) ~ p .option-he-target {
  display: none !important;
}

#workskin div:has(.option-he:focus) ~ p .option-he-target {
  display: inline;
}

#workskin div:has(.option-he:focus) ~ p .option-they-target,
#workskin div:has(.option-he:focus) ~ p .option-she-target {
  display: none !important;
}

#workskin .option-undescribed-target {
  display: inline;
}

#workskin .option-she-target,
#workskin .option-he-target,
#workskin .option-vagina-target,
#workskin .option-penis-target {
  display: none;
}

#workskin div:has(.option-undescribed:focus) ~ p .option-undescribed-target {
  display: inline;
}

#workskin div:has(.option-undescribed:focus) ~ p .option-vagina-target,
#workskin div:has(.option-undescribed:focus) ~ p .option-penis-target {
  display: none !important;
}

#workskin div:has(.option-vagina:focus) ~ p .option-vagina-target {
  display: inline;
}

#workskin div:has(.option-vagina:focus) ~ p .option-undescribed-target,
#workskin div:has(.option-vagina:focus) ~ p .option-penis-target {
  display: none !important;
}

#workskin div:has(.option-penis:focus) ~ p .option-penis-target {
  display: inline;
}

#workskin div:has(.option-penis:focus) ~ p .option-undescribed-target,
#workskin div:has(.option-penis:focus) ~ p .option-vagina-target {
  display: none !important;
}